In [40]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from lifelines import ExponentialFitter, WeibullFitter, CoxPHFitter

In [41]:
%store -r df_cox

# Ventana de tiemp√≥ 2007Q4 a 2009Q2

In [42]:
df_cox= df_cox[df_cox['duration']>0]
df_cox

                id  duration  event        GDP  Personal_Income  TasaDesempleo
0          Alabama         6      0  12.201847        11.960909       6.514286
1           Alaska         6      0  10.849222        10.386709       6.914286
2          Arizona         6      0  12.599076        12.301745       6.414286
3         Arkansas         1      1  11.639422        11.429038       6.033333
4         Arkansas         3      0  11.639422        11.429038       6.033333
5       California         6      0  14.592066        14.268346       8.085714
6         Colorado         5      0  12.544146        12.240387       5.561905
7      Connecticut         5      0  12.520222        12.264476       6.104762
8         Delaware         5      0  11.110545        10.504757       5.533333
9          Florida         6      0  13.689441        13.479767       6.938095
10         Georgia         6      0  13.077425        12.715427       7.057143
11          Hawaii         6      0  11.241114        10.921744       4.561905
12           Idaho         6      0  11.051280        10.811885       5.871429
13        Illinois         6      0  13.534252        13.205027       7.147619
14         Indiana         5      0  12.662003        12.317330       6.961905
15            Iowa         5      0  11.977516        11.646228       4.771429
16          Kansas         3      0  11.885837        11.636067       5.128571
17        Kentucky         5      0  12.122737        11.843797       7.476190
18       Louisiana         4      0  12.377734        12.030670       5.057143
19           Maine         5      0  10.992849        10.797344       6.200000
20        Maryland         4      0  12.725343        12.530460       4.871429
21   Massachusetts         5      0  13.005651        12.709697       5.900000
22        Michigan         5      0  13.006494        12.765162       9.409524
23       Minnesota         6      0  12.628095        12.309289       6.019048
24     Mississippi         4      0  11.592888        11.406308       7.152381
25        Missouri         6      0  12.593369        12.290600       6.790476
26         Montana         6      0  10.639781        10.442901       5.323810
27        Nebraska         1      1  11.510557        11.180059       3.576190
28        Nebraska         1      1  11.510557        11.180059       3.576190
29        Nebraska         1      0  11.510557        11.180059       3.576190
30          Nevada         6      0  11.921339        11.525735       7.580952
31   New Hampshire         5      0  11.167790        10.993463       4.252381
32      New Jersey         5      0  13.243331        13.002644       6.009524
33      New Mexico         5      0  11.402448        11.108296       4.819048
34        New York         5      0  14.104821        13.724008       6.019048
35  North Carolina         5      0  13.088234        12.748435       7.176190
36    North Dakota         3      1  10.461764        10.183948       3.380952
37    North Dakota         1      0  10.461764        10.183948       3.380952
38            Ohio         5      0  13.258656        12.940773       7.452381
39        Oklahoma         3      0  11.970499        11.844932       4.366667
40          Oregon         5      0  12.115819        11.828550       7.433333
41    Pennsylvania         5      0  13.397488        13.156190       6.004762
42    Rhode Island         6      0  10.910017        10.674697       8.295238
43  South Carolina         5      0  12.156773        11.907118       7.738095
44    South Dakota         1      1  10.672802        10.377444       3.504762
45    South Dakota         2      0  10.672802        10.377444       3.504762
46       Tennessee         6      0  12.596771        12.288290       7.338095
47           Texas         3      0  14.068470        13.761129       5.338095
48            Utah         5      0  11.799462        11.393184       4.338095
49         Vermont         5      0  10.303385        10.134928       5.004762
50        Virginia         5      0  13.039653        12.771494       4.676190
51      Washington         5      0  12.894910        12.560785       5.980952
52   West Virginia         2      1  11.170139        10.961594       5.380952
53   West Virginia         1      0  11.170139        10.961594       5.380952
54       Wisconsin         1      1  12.554521        12.287387       5.952381
55       Wisconsin         3      0  12.554521        12.287387       5.952381
56         Wyoming         5      0  10.636569        10.176667       3.723810

In [43]:
#Modelo parametrico

exp_model = ExponentialFitter()
exp_model.fit(df_cox['duration'], event_observed=df_cox['event'])
summary = exp_model.summary
exp_model.print_summary()

<lifelines.ExponentialFitter:"Exponential_estimate", fitted with 57 total observations, 50 right-censored observations>
   number of observations = 57
number of events observed = 7
           log-likelihood = -31.94
               hypothesis = lambda_ != 0

---
         coef  se(coef)  coef lower 95%  coef upper 95%
lambda_ 35.29     13.34            9.15           61.43

         cmp to    z    p  -log2(p)
lambda_    0.00 2.65 0.01      6.94
---
AIC = 65.89

In [44]:
# Weibull
weibull_model = WeibullFitter()
weibull_model.fit(df_cox['duration'], event_observed=df_cox['event'])
summary = weibull_model.summary
weibull_model.print_summary()

<lifelines.WeibullFitter:"Weibull_estimate", fitted with 57 total observations, 50 right-censored observations>
   number of observations = 57
number of events observed = 7
           log-likelihood = -31.70
               hypothesis = lambda_ != 1, rho_ != 1

---
         coef  se(coef)  coef lower 95%  coef upper 95%
lambda_ 61.31     64.31          -64.75          187.36
rho_     0.79      0.28            0.23            1.34

         cmp to     z    p  -log2(p)
lambda_    1.00  0.94 0.35      1.52
rho_       1.00 -0.76 0.45      1.16
---
AIC = 67.40

In [45]:
cox = CoxPHFitter()
cox.fit(df_cox, duration_col='duration', event_col='event', formula="GDP")
summary = cox.summary
cox.print_summary()

<lifelines.CoxPHFitter: fitted with 57 total observations, 50 right-censored observations>
             duration col = 'duration'
                event col = 'event'
      baseline estimation = breslow
   number of observations = 57
number of events observed = 7
   partial log-likelihood = -25.60
         time fit was run = 2025-11-06 15:19:06 UTC

---
           coef exp(coef)  se(coef)  coef lower 95%  coef upper 95% exp(coef) lower 95% exp(coef) upper 95%
covariate
GDP       -0.86      0.42      0.45           -1.74            0.02                0.18                1.02

           cmp to     z    p  -log2(p)
covariate
GDP          0.00 -1.91 0.06      4.15
---
Concordance = 0.72
Partial AIC = 53.19
log-likelihood ratio test = 4.36 on 1 df
-log2(p) of ll-ratio test = 4.76

In [46]:
cox = CoxPHFitter()
cox.fit(df_cox, duration_col='duration', event_col='event', formula="GDP+Personal_Income")
summary = cox.summary
cox.print_summary()

<lifelines.CoxPHFitter: fitted with 57 total observations, 50 right-censored observations>
             duration col = 'duration'
                event col = 'event'
      baseline estimation = breslow
   number of observations = 57
number of events observed = 7
   partial log-likelihood = -25.54
         time fit was run = 2025-11-06 15:19:09 UTC

---
                 coef exp(coef)  se(coef)  coef lower 95%  coef upper 95% exp(coef) lower 95% exp(coef) upper 95%
covariate
GDP             -2.14      0.12      4.06          -10.10            5.83                0.00              338.80
Personal_Income  1.29      3.63      4.08           -6.70            9.28                0.00            10768.17

                 cmp to     z    p  -log2(p)
covariate
GDP                0.00 -0.53 0.60      0.74
Personal_Income    0.00  0.32 0.75      0.41
---
Concordance = 0.73
Partial AIC = 55.09
log-likelihood ratio test = 4.47 on 2 df
-log2(p) of ll-ratio test = 3.22

In [47]:
cox = CoxPHFitter()
cox.fit(df_cox, duration_col='duration', event_col='event', formula="GDP+Personal_Income+TasaDesempleo")
summary = cox.summary
cox.print_summary()

<lifelines.CoxPHFitter: fitted with 57 total observations, 50 right-censored observations>
             duration col = 'duration'
                event col = 'event'
      baseline estimation = breslow
   number of observations = 57
number of events observed = 7
   partial log-likelihood = -23.28
         time fit was run = 2025-11-06 15:19:13 UTC

---
                 coef exp(coef)  se(coef)  coef lower 95%  coef upper 95% exp(coef) lower 95% exp(coef) upper 95%
covariate
GDP             -3.18      0.04      4.74          -12.48            6.11                0.00              449.86
Personal_Income  2.97     19.44      4.76           -6.37           12.31                0.00            2.21e+05
TasaDesempleo   -0.83      0.43      0.46           -1.73            0.06                0.18                1.06

                 cmp to     z    p  -log2(p)
covariate
GDP                0.00 -0.67 0.50      0.99
Personal_Income    0.00  0.62 0.53      0.91
TasaDesempleo      0.00 -1.82 0.07      3.87
---
Concordance = 0.81
Partial AIC = 52.57
log-likelihood ratio test = 8.99 on 3 df
-log2(p) of ll-ratio test = 5.08

In [48]:
cox = CoxPHFitter()
cox.fit(df_cox, duration_col='duration', event_col='event', formula="GDP+TasaDesempleo")
summary = cox.summary
cox.print_summary()

<lifelines.CoxPHFitter: fitted with 57 total observations, 50 right-censored observations>
             duration col = 'duration'
                event col = 'event'
      baseline estimation = breslow
   number of observations = 57
number of events observed = 7
   partial log-likelihood = -23.49
         time fit was run = 2025-11-06 15:19:18 UTC

---
               coef exp(coef)  se(coef)  coef lower 95%  coef upper 95% exp(coef) lower 95% exp(coef) upper 95%
covariate
GDP           -0.24      0.79      0.54           -1.31            0.82                0.27                2.28
TasaDesempleo -0.78      0.46      0.44           -1.65            0.09                0.19                1.09

               cmp to     z    p  -log2(p)
covariate
GDP              0.00 -0.44 0.66      0.61
TasaDesempleo    0.00 -1.77 0.08      3.69
---
Concordance = 0.79
Partial AIC = 50.98
log-likelihood ratio test = 8.57 on 2 df
-log2(p) of ll-ratio test = 6.18

# Ventana de Tiempo 2007Q4 a 2010Q2