In [98]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from lifelines import ExponentialFitter, WeibullFitter, CoxPHFitter

In [99]:
%store -r df_cox

In [100]:
df_cox = df_cox[df_cox['duration']>0]
df_cox

           id  duration  event        GDP  Personal_Income  TasaDesempleo
1     Alabama         6      0  12.201847        11.960909       6.514286
2      Alaska         3      1  10.849222        10.386709       6.914286
3      Alaska         2      0  10.849222        10.386709       6.914286
4     Arizona         6      0  12.599076        12.301745       6.414286
6    Arkansas         3      0  11.639422        11.429038       6.033333
..        ...       ...    ...        ...              ...            ...
65  Wisconsin         1      1  12.554521        12.287387       5.952381
67  Wisconsin         2      0  12.554521        12.287387       5.952381
68    Wyoming         1      1  10.636569        10.176667       3.723810
69    Wyoming         1      1  10.636569        10.176667       3.723810
70    Wyoming         2      0  10.636569        10.176667       3.723810

[64 rows x 6 columns]

In [101]:
#Modelo parametrico

exp_model = ExponentialFitter()
exp_model.fit(df_cox['duration'], event_observed=df_cox['event'])
summary = exp_model.summary
print(summary)

              coef  se(coef)  coef lower 95%  coef upper 95%  cmp to  \
lambda_  16.714258  4.467066         7.95897       25.469546     0.0

                z         p   -log2(p)
lambda_  3.741664  0.000183  12.417398

In [102]:
# Weibull
weibull_model = WeibullFitter()
weibull_model.fit(df_cox['duration'], event_observed=df_cox['event'])
summary = weibull_model.summary
print(summary)

              coef   se(coef)  coef lower 95%  coef upper 95%  cmp to  \
lambda_  24.260812  13.543324       -2.283614       50.805239     1.0
rho_      0.789150   0.195241        0.406484        1.171817     1.0

                z         p  -log2(p)
lambda_  1.717511  0.085886  3.541437
rho_    -1.079943  0.280167  1.835639

In [103]:
cox = CoxPHFitter()
cox.fit(df_cox, duration_col='duration', event_col='event', formula="GDP")
summary = cox.summary
print(summary)

               coef  exp(coef)  se(coef)  coef lower 95%  coef upper 95%  \
covariate
GDP       -0.679051   0.507098  0.302551       -1.272039       -0.086063

           exp(coef) lower 95%  exp(coef) upper 95%  cmp to         z  \
covariate
GDP                   0.280259             0.917536     0.0 -2.244423

                  p  -log2(p)
covariate
GDP        0.024805  5.333213

In [104]:
cox = CoxPHFitter()
cox.fit(df_cox, duration_col='duration', event_col='event', formula="GDP+Personal_Income")
summary = cox.summary
print(summary)

                     coef  exp(coef)  se(coef)  coef lower 95%  \
covariate
GDP              1.074996   2.929982  2.480181       -3.786069
Personal_Income -1.739313   0.175641  2.428468       -6.499023

                 coef upper 95%  exp(coef) lower 95%  exp(coef) upper 95%  \
covariate
GDP                    5.936062             0.022685           378.441632
Personal_Income        3.020396             0.001505            20.499409

                 cmp to         z         p  -log2(p)
covariate
GDP                 0.0  0.433435  0.664699  0.589227
Personal_Income     0.0 -0.716218  0.473856  1.077478

In [105]:
cox = CoxPHFitter()
cox.fit(df_cox, duration_col='duration', event_col='event', formula="GDP+Personal_Income+TasaDesempleo")
summary = cox.summary
print(summary)

                     coef  exp(coef)  se(coef)  coef lower 95%  \
covariate
GDP              1.272075   3.568249  2.565143       -3.755514
Personal_Income -1.781275   0.168423  2.504353       -6.689716
TasaDesempleo   -0.199823   0.818876  0.227647       -0.646002

                 coef upper 95%  exp(coef) lower 95%  exp(coef) upper 95%  \
covariate
GDP                    6.299664             0.023388           544.388833
Personal_Income        3.127166             0.001244            22.809247
TasaDesempleo          0.246356             0.524137             1.279355

                 cmp to         z         p  -log2(p)
covariate
GDP                 0.0  0.495908  0.619959  0.689755
Personal_Income     0.0 -0.711272  0.476916  1.068193
TasaDesempleo       0.0 -0.877777  0.380065  1.395683

In [106]:
cox = CoxPHFitter()
cox.fit(df_cox, duration_col='duration', event_col='event', formula="GDP+TasaDesempleo")
summary = cox.summary
print(summary)

                   coef  exp(coef)  se(coef)  coef lower 95%  coef upper 95%  \
covariate
GDP           -0.524063   0.592110  0.346444        -1.20308        0.154954
TasaDesempleo -0.201477   0.817523  0.228812        -0.64994        0.246986

               exp(coef) lower 95%  exp(coef) upper 95%  cmp to         z  \
covariate
GDP                       0.300268             1.167604     0.0 -1.512693
TasaDesempleo             0.522077             1.280161     0.0 -0.880535

                      p  -log2(p)
covariate
GDP            0.130358  2.939454
TasaDesempleo  0.378570  1.401370